<!DOCTYPE html>

<head>
    <title>Time Manager</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./style/friends_requests.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Time management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Calendar <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Friends Requests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Event Requests</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <br>

    <h1  class="d-flex justify-content-center">Friends Requests</h1>

    <div class="containers d-flex justify-content-center">
        <div class="row">
            <div class="col-md">
                <div class="people-nearby">

                    <div class="nearby-user">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Ivan Georgiev</a></h5>
                                <p>Software Engineer</p>
                                <p class="text-muted">ivan_georgiev@gmail.com</p>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <button class="btn btn-sm btn-outline-success float-right" style="width: 80px; margin-bottom: 5px;">Approve</button>
                                <button class="btn btn-sm btn-outline-danger float-right" style="width: 80px;">Ignore</button>
                            </div>
                        </div>
                    </div>

                    <div class="nearby-user">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Katrin Lazarova</a></h5>
                                <p>Graphical Designer</p>
                                <p class="text-muted">katrin_lazarova@gmail.com</p>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <button class="btn btn-sm btn-outline-success float-right" style="width: 80px; margin-bottom: 5px;">Approve</button>
                                <button class="btn btn-sm btn-outline-danger float-right" style="width: 80px;">Ignore</button>
                            </div>
                        </div>
                    </div>

                    <div class="nearby-user">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Boris Popov</a></h5>
                                <p>Android Developer</p>
                                <p class="text-muted">boris_popov@gmail.com</p>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <button class="btn btn-sm btn-outline-success float-right" style="width: 80px; margin-bottom: 5px;">Approve</button>
                                <button class="btn btn-sm btn-outline-danger float-right" style="width: 80px;">Ignore</button>
                            </div>
                        </div>
                    </div>

                    <div class="nearby-user">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Nikol Dimitrova</a></h5>
                                <p>Writer at Newspaper</p>
                                <p class="text-muted">nikol_dimitrova@gmail.com</p>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <button class="btn btn-sm btn-outline-success float-right" style="width: 80px; margin-bottom: 5px;">Approve</button>
                                <button class="btn btn-sm btn-outline-danger float-right" style="width: 80px;">Ignore</button>
                            </div>
                        </div>
                    </div>

                    <div class="nearby-user">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Martin Tomov</a></h5>
                                <p>Medical Student</p>
                                <p class="text-muted">martin_tomov@gmail.com</p>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <button class="btn btn-sm btn-outline-success float-right" style="width: 80px; margin-bottom: 5px;">Approve</button>
                                <button class="btn btn-sm btn-outline-danger float-right" style="width: 80px;">Ignore</button>
                            </div>
                        </div>
                    </div>
                   
                    <div class="nearby-user">
                        <div class="row">
                            <div class="col-md-2 col-sm-2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user"
                                    class="profile-photo-lg">
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <h5><a href="#" class="profile-link">Stoil Alexandrov</a></h5>
                                <p>Creative Director</p>
                                <p class="text-muted">stoil_alexandrov@gmail.com</p>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <button class="btn btn-sm btn-outline-success float-right" style="width: 80px; margin-bottom: 5px;">Approve</button>
                                <button class="btn btn-sm btn-outline-danger float-right" style="width: 80px;">Ignore</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</body>

</html>